.Dictionary {
  margin-top: 40px;
  text-align: left;
  margin-bottom: 10px;
  max-width: 60%;
}

.Dictionary .Intro {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #385170;
  text-align: center;
}

.Dictionary Input {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.Dictionary section {
  border: solid;
  border-color: rgba(56, 81, 112, 0.8);
  border-radius: 4px;
  padding: 10px;
}

.Dictionary section {
  margin-bottom: 10px;
}
