.Meaning {
  text-align: center;
}

.Meaning .PartOfSpeech {
  margin-bottom: 5px;
  font-size: 25px;
}

.Meaning .Definition {
  text-decoration: underline;
  font-weight: 550;
}

.Meaning .ExampleText {
  opacity: 90%;
}

section {
  border: solid;
  border-color: #385170;
  border-radius: 6px;
  padding: 10px;
}
em {
  font-size: 13px;
}
