.Meaning {
  text-align: center;
}

.Meaning .PartOfSpeech {
  margin-bottom: 5px;
  font-size: 25px;
}

.Meaning .Definition {
  text-decoration: underline;
  font-weight: 550;
}
.Meaning .Example {
  text-decoration: underline;
  font-weight: 550;
  margin-top: -25px;
}

.Meaning .ExampleText {
  opacity: 85%;
}

.Meaning .DefinitionExample {
  border: solid;
  border-color: #385170;
  border-radius: 4px;
  padding: 10px;
}
em {
  font-size: 13px;
}
