.Results .WordPhonetics {
  border: solid;
  border-color: #385170;
  border-radius: 4px;
  padding: 10px 50px;
  text-align: center;
}

.Results .Word {
  color: mediumaquamarine;
  font-size: 55px;
}

.Results .Phonetics {
  margin-top: 15px;
  padding-bottom: 10px;
}
